@import url('https://fonts.googleapis.com/css?family=Comfortaa|Forum');
* { margin:1em; padding:1.5; box-sizing:border-box; }


header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

/*#intro {
	background-image: url("../images/eating_dinner_at_FRM_cheers.jpg");
}
*/
h1 {
	text-align: left;
  	font-family: 'Forum', cursive;
  	margin: 1.5em;

}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
	text-align: left;
  	font-family: 'Forum', cursive;
  	margin: 1em;
    /*position: fixed;
    top: 0;
    width: 100%;*/
}

}


a {
	display: block;
  	font-family: 'Forum', cursive;
  	margin: 2em;
}


h2 {
	text-align: left;
  	font-family: 'Forum', cursive;
  	margin: 1em;
}

p {
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
}
li {
	/*float: left;*/
	/*display: inline;*/
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
	line-height: 1em;
}

li a {
	float: left;
	display: block;
	text-align: center;
}

#reviews {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

#contact {
	background-color: #FFC675;
	border: 1px black solid;
    padding: 20px;
	text-align: left;
  	font-family: 'Forum', cursive;
}


#submit_button {
	text-align: left;
	font-family: 'Forum', cursive;
	display: inline-block;
	width: auto;
	background: green;
	border: none;
	padding: 1em 2em;
	color: #fff;
}
input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: .5em;
    /* outline: none; */
    /* border: none; */
    /* box-shadow: inset 1px 1px 3px rgba(0,0,0,.15); */
}

form {
    width: 20em;
}


footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}


section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

/*
body
h1
p
ul
li
img
#slogan
background
background-color
color
font-size
font-style
font-weight
text-align
text-decoration
text-transform*/