
<style>
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
</style>

h1 {
	text-align: left;
  	font-family: 'Comfortaa', cursive;
}

h2 {
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}


body
h1
p
ul
li
img
#slogan
background
background-color
color
font-size
font-style
font-weight
text-align
text-decoration
text-transform